.clients-page{
    max-width: 90%;
    margin: 0 auto;
    padding: var(--space-xxs);
    display: flex;
    flex-direction: column;
}

.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--space-sm);
}

.left-side-content{
    flex: 1;
    min-width: 0;
    border-left: var(--space-xxs) dotted var(--color-border);
    padding: var(--space-md);
    margin: var(--space-xxs);
}

.right-side-content{
    flex: 1.5;
    border-left: var(--space-xxs) dotted var(--color-border);
    border-right: var(--space-xxs) dotted var(--color-border);
    min-width: 0;
    padding: var(--space-md);
    margin: var(--space-xxs);
}

.clients-page > li:active {
    background: var(--color-border);
}