:root {
  --color-bg: rgb(255, 246, 235);
  --color-surface: #DEAFC2;
  --color-border: #788e8a;
  --color-text: #2e4243;
  --color-muted: #0f6100;
  --color-headings: #0f6100;
  --color-primary: #30223e;
  --color-primary-hover: #7FB7CB;
  --color-danger: #c4453d;
  --color-success: #8cbab2;
  --color-list: #e2f8f4;

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;

  --radius: 8px;
  --font-main: 'Segoe UI', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: var(--space-sm);
  color: var(--color-headings);
}

h1 {
  position: sticky;
  top: 0;
  background-color: rgb(255, 246, 235);
  border-bottom: var(--space-xs) double var(--color-border); 
}

p{
  color: var(--color-text);
}

h4, h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-success);
}