:root {
  --color-bg: rgb(255, 246, 235);
  --color-surface: #c9b1e1;
  --color-border: #b3e5dd;
  --color-text: #2e4243;
  --color-text-muted: #CAFFD0;
  --color-headings: #021430;
  --color-primary: #DEAFC2;
  --color-primary-hover: #7FB7CB;
  --color-danger: #c4453d;
  --color-success: #2f9e5a;

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;

  --radius: 8px;
  --font-main: 'Segoe UI', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: var(--space-sm);
  color: var(--color-headings);
}

p{
  color: var(--color-text);
}